root = true

[*.{html, js, css, scss, json}]
indent_style = tab
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
max_line_length = 100
insert_final_newline = true

[*.{md,markdown,mdown,markdn}]
indent_size = 4
trim_trailing_whitespace = false
