.car {
	border-radius: 5px;
	padding: 10px 0px;
	margin-bottom: 15px;
	box-shadow: 1px solid #ddd;
	border: 1px solid #ddd;
	transition: all .2s linear;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
}

.car .input {
	padding: 5px;
	border-radius: 5px;
	border: 2px #ddd solid;
	width: 90%;
    box-sizing: border-box;
    outline: none;
}

.car .input.green {
    border: 2px #3fdf3f solid;
}

.car .input.red {
    border: 2px #ffb6b6 solid;
}
